# Python Basics

## Whitespace Is Important

In [144]:
listOfNumbers = [1, 2, 3, 4, 5, 6]

for number in listOfNumbers:
    print number,
    if (number % 2 == 0):
        print "is even"
    else:
        print "is odd"
print " " 
print "Hooray! All done."

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

Hooray! All done.

## Importing Modules

In [145]:
import numpy as np

A = np.random.normal(50.0, 5.0, 9)
print A

[ 49.65486395  49.85805639  44.52973846  48.56528126  50.4323478
  51.42816973  48.22105445  53.15312483  45.38632649]

## Lists

In [146]:
x = [0, 1, 2, 9, 4, 5, 6]
print len(x)

7

In [147]:
x[:3]

[0, 1, 2]

In [148]:
x[3:]

[9, 4, 5, 6]

In [149]:
x[-2:]

[5, 6]

In [150]:
x.extend([7,8])
x

[0, 1, 2, 9, 4, 5, 6, 7, 8]

In [151]:
x.append(9)
x

[0, 1, 2, 9, 4, 5, 6, 7, 8, 9]

In [152]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

[[0, 1, 2, 9, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [153]:
y[0]

10

In [154]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [155]:
z.sort(reverse=True)
z

[3, 2, 1]

## Tuples

In [156]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [157]:
y = (4, 5, 6)
y[2]

6

In [158]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [159]:
(age, income) = "32,120000".split(',')
print age
print income

32
120000

## Dictionaries

In [160]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print captains["Voyager"]

Janeway

In [161]:
print captains.get("Enterprise")

Kirk

In [162]:
print captains.get("NX-01")

None

In [163]:
for ship in captains:
    print ship + ": " + captains[ship]

Voyager: Janeway
Deep Space Nine: Sisko
Enterprise D: Picard
Enterprise: Kirk

## Functions

In [164]:
def SquareIt(x):
    return x * x

print SquareIt(2)

4

In [165]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print DoSomething(SquareIt, 3)

9

In [166]:
#Lambda functions let you inline simple functions
print DoSomething(lambda x: x * x * x, 3)

27

## Boolean Expressions

In [167]:
print 1 == 3

False

In [168]:
print (True or False)

True

In [169]:
print 1 is 3

False

In [170]:
if 1 is 3:
    print "How did that happen?"
elif 1 > 3:
    print "Yikes"
else:
    print "All is well with the world"

All is well with the world

## Looping

In [171]:
for x in range(10):
    print x,

0 1 2 3 4 5 6 7 8 9

In [172]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5) & (x < 8):
        continue
    print x,

0 2 3 4 5 8 9

In [173]:
x = 0
while (x < 10):
    print x,
    x += 1

0 1 2 3 4 5 6 7 8 9

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [175]:
for x in range(20):
    if(x%2 == 1):
        print x

1
3
5
7
9
11
13
15
17
19