In [3]:
import pandas as pd
pd.__version__

'0.17.1'

In [4]:
import numpy as np
import pandas as pd

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
data.values

array([ 0.25,  0.5 ,  0.75,  1.  ])

In [7]:
data.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [8]:
data[1]

0.5

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data[1]

0.5

In [11]:
data['a']

0.25

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [16]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [17]:
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

In [18]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

In [19]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

    a  b   c
0   1  2 NaN
1 NaN  3   4

In [20]:
pd.DataFrame({'population': population,
              'area': area})

NameError: name 'area' is not defined

In [22]:
mic = pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

In [31]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

SyntaxError: invalid syntax (<ipython-input-31-33b91e76bf1b>, line 1)

In [28]:
mic

        foo       bar
a  0.077084  0.832475
b  0.489388  0.915362
c  0.811782  0.135912

In [32]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.0), (0, 0.0), (0, 0.0)],
      dtype=[('A', '<i8'), ('B', '<f8')])

In [34]:
A['B']

array([ 0.,  0.,  0.])

In [35]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [37]:
ind[1]

3

In [38]:
ind[0]

2

In [47]:
ind[0:3]

Int64Index([2, 3, 5], dtype='int64')