In [1]:
import pandas as pd

In [2]:
ser = pd.Series(range(10))

In [3]:
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
ser2 = pd.Series([1.1, 2, 3, 4])

In [5]:
ser2

0    1.1
1    2.0
2    3.0
3    4.0
dtype: float64

In [6]:
ser3 = pd.Series(["alpa", "beta", "Gamma"])

In [7]:
ser3

0     alpa
1     beta
2    Gamma
dtype: object

In [8]:
ser4 = pd.Series([{}, [], (2,3)])

In [9]:
ser4

0        {}
1        []
2    (2, 3)
dtype: object

In [10]:
ser4.dtype

dtype('O')

In [11]:
ser5=pd.Series(['2015-01-01', '2016-07-17'])

In [12]:
ser5

0    2015-01-01
1    2016-07-17
dtype: object

In [13]:
ser6 = pd.to_datetime(ser5)

In [14]:
ser6

0   2015-01-01
1   2016-07-17
dtype: datetime64[ns]

In [15]:
ser7 = pd.Series(["Prius", "Accord", "Prius", "Camry"])

In [16]:
ser8 = pd.Series(ser7, dtype="category")

In [17]:
ser8

0     Prius
1    Accord
2     Prius
3     Camry
dtype: category
Categories (3, object): [Accord, Camry, Prius]

# More Series

In [18]:
temps = [30, 40, 98,90]
s=pd.Series(temps)

In [19]:
temps

[30, 40, 98, 90]

In [20]:
s

0    30
1    40
2    98
3    90
dtype: int64

In [21]:
for number in s:
    print(number)

30
40
98
90

In [22]:
i=0
while s[i] < 90:
    print(s[i])
    i =i+1

30
40