# Sequences

In [87]:
temps = [30, 45, 60, 92, 20, 30, 94]

In [88]:
def mannyMean(seq):
    return sum(seq) /len(seq)

In [89]:
mannyMean(temps)

53.0

In [90]:
[x for x in temps if x > 55]

[60, 92, 94]

# Numpy

In [91]:
import numpy as np

In [92]:
tempNp = np.array(temps)

In [93]:
type([tempNp])

list

In [94]:
from timeit import Timer

## tempNp

In [95]:
tempNp[tempNp > 55]

array([60, 92, 94])

In [96]:
tempNp.mean()

53.0

In [97]:
tempNp.sum()

371

# Pandas

In [98]:
import pandas as pd

In [99]:
tempPd = pd.Series(temps, name="Temperature")

In [100]:
tempPd

0    30
1    45
2    60
3    92
4    20
5    30
6    94
Name: Temperature, dtype: int64

In [101]:
tempPd.mean()

53.0

In [102]:
tempPd.sum()

371

In [103]:
tempPd.add(10)

0     40
1     55
2     70
3    102
4     30
5     40
6    104
Name: Temperature, dtype: int64

In [104]:
hot= pd.Series([False, False, True, True, False, False, True])

In [105]:
hot

0    False
1    False
2     True
3     True
4    False
5    False
6     True
dtype: bool

In [106]:
tempPd[hot]

2    60
3    92
6    94
Name: Temperature, dtype: int64

In [107]:
mask = tempPd > 55

In [108]:
tempPd[mask]

2    60
3    92
6    94
Name: Temperature, dtype: int64

In [109]:
mask

0    False
1    False
2     True
3     True
4    False
5    False
6     True
Name: Temperature, dtype: bool

In [110]:
mask2= tempPd < 90

In [111]:
tempPd[mask & mask2]

2    60
Name: Temperature, dtype: int64

# Index

In [112]:
tempPd.index

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [116]:
temp2 = pd.Series(temps, name ="Temperature", 
                  index=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])

In [117]:
temp2

Monday       30
Tuesday      45
Wednesday    60
Thursday     92
Friday       20
Saturday     30
Sunday       94
Name: Temperature, dtype: int64

In [118]:
temp2.index

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object')

In [119]:
dates = pd.date_range("20160717", periods=7)

In [120]:
dates

DatetimeIndex(['2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20',
               '2016-07-21', '2016-07-22', '2016-07-23'],
              dtype='datetime64[ns]', freq='D')

In [121]:
temp3 = pd.Series(temps, name="Temperature", index=dates)

In [122]:
temp3

2016-07-17    30
2016-07-18    45
2016-07-19    60
2016-07-20    92
2016-07-21    20
2016-07-22    30
2016-07-23    94
Freq: D, Name: Temperature, dtype: int64