In [1]:
import pandas as pd

In [5]:
ser = pd.Series(range(10))

In [6]:
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [7]:
ser2 = pd.Series([1.1, 2, 3, 4])

In [8]:
ser2

0    1.1
1    2.0
2    3.0
3    4.0
dtype: float64

In [9]:
ser3 = pd.Series(["alpa", "beta", "Gamma"])

In [10]:
ser3

0     alpa
1     beta
2    Gamma
dtype: object

In [21]:
ser4 = pd.Series([{}, [], (2,3)])

In [22]:
ser4

0        {}
1        []
2    (2, 3)
dtype: object

In [23]:
ser4.dtype

dtype('O')

In [25]:
ser5=pd.Series(['2015-01-01', '2016-07-17'])

In [26]:
ser5

0    2015-01-01
1    2016-07-17
dtype: object

In [27]:
ser6 = pd.to_datetime(ser5)

In [28]:
ser6

0   2015-01-01
1   2016-07-17
dtype: datetime64[ns]

In [29]:
ser7 = pd.Series(["Prius", "Accord" "Prius", "Camry"])

In [31]:
ser8 = pd.Series(ser7, dtype="category")